@import url("styles2.css");

body{
      font-family: arial;
    }
    h1{
      color: blue;
    }
    button{
      font-size: 25px;
      background-color: lightblue;
      padding: 5px 5px 5px 5px;
      color: black;
      border: none;
      border-radius: 5px;
      width: 150px;
    }

    
  