



Center{
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
}


div{
  font-family: arial;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

span{
  color: olivedrab;
}

p{
  color: blue;
}

/* part -2 Typography -- Notations of Colors */

#div1{
  color: darkblue ;  /* color*/
  background-color: darkorange;
}
#div2{
  color: rgb(255,0,23);        /* rgb*/
  background-color: lightgray;
}
#div3{
  color: rgba(0,0,255,0.5);    /* rgba*/
  background-color: lightcoral;
}
#div4{
  color: rgb(0, 0, 0);       /* hexadecimal notation*/
  background-color: darkkhaki;
}


/* Box- model all about margins, padding */
.allbox{
  display: inline-block;
  border: 2px solid  black;
  margin-bottom: 20px;
  
}
.spanbox{
  display: inline-block;
  border: 2px solid  black;
  
  margin-bottom: 10px;
  font-family: arial;
  font-size: 30px;
  color: black;
  margin-top: 10px;

}

#blue{
  background-color: lightblue;
  padding: 50px;
}
#pink{
 background-color: lightpink;
 padding: 50px;
}


/* centeralign{
  position: relative;                 Tis syntax used align the items in center using position
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50px, -50px);
} */

/* part -4 Positions examples - static fixed relative absolute sticky */

.parent{
  position: relative;
  margin: 0;
  border: 2px solid black;
  width: 500px;
  background-color: lightblue;
}

.posBox1{
  position:static;
  background-color: pink;
  
}
.posBox2{
  position: relative;
  top: 50px;
  left: 70px;
  background-color: pink;
}
.posBox3{
  position:  absolute;
  left: 90px;
  background-color: gray;
}
.posBox4{
  position : fixed;
  right: 20px;
  bottom: 20px;
  background-color: pink;
}

.posBox5{
  position: sticky;
  top: 0;
  bottom: 50px;
  background-color: lightblue;
}
#pos{
  margin: 0; 
  
}
.box{
  border: 2px solid black;
  width: 200px;
  height: 150px;
  display: block;
}